body {
     color: ;
    margin-top: 70px;
    margin-bottom: 40px;
}

.login-con {
    margin-top: 50px;
}

.voting-con {
    margin-bottom: 60px
}
.navbardesign{
background-color:#006266;

}

.activedesign{
}
h5{
	margin-top: 1.3em;
	color: white;
}
